.bg-grey-0{
    background-color: #858584;
}

.bg-grey-1{
    background-color: #6F6F6E;
}

.bg-grey-2{
    background-color: #585959;
}

.bg-grey-3{
    background-color: #424242;
}

.bg-grey-4{
    background-color: #2E2E2E;
}

.bg-grey-5{
    background-color: #1D1D1C;
}

.bg-yellow{
    background-color: #FEBF01;
}

.text-justify{
    text-align: justify;
}

.list-color{
    list-style-color: white;
}

